{% spaceless %}
  {% set group = repository.name | split('/') | reverse %}
  {% set name = group | first %}
  {% set group = group | slice(1) | reverse | join('/') %}
  <h3>
    <a href="{{ group }}">{{ group }}</a>
    <span class="text-dark mx-1">/</span>
    <a href="{{ group }}/{{ name }}"><strong>{{ name }}</strong></a>
  </h3>
  {% if repository.description %}
    <div><markdown class="mb-3">{{ repository.description }}</markdown></div>
  {% endif %}
{% endspaceless %}
