{% extends 'layout/main.twig' %}

{% block title %}{{ group }}/{{ name }} - GitKit{% endblock %}

{% block content %}
  <h1><a href="{{ group }}/{{ name }}">{{ group }}/{{ name }}</a></h1>
  <div class="row my-3">
    <div class="col-auto">
      <div class="dropdown" data-close-outside>
        <button class="form-control dropdown-toggle" data-toggle="dropdown" type="button">
          {{ {branch: 'Branch', 'tag': 'Tag', 'commit': 'Tree'}[ref.getRefType()] }}:
          <strong>{{ ref.getRefType() == 'commit' ? ref.getAbbreviatedHash() : ref.getRef() }}</strong>
        </button>
        <div class="dropdown-menu p-0">
          <div class="card border-0">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs flex-nowrap">
                <li class="nav-item">
                  <a class="nav-link {% if ref.getRefType() in ['branch', 'commit'] %}active{% endif %}"
                    data-toggle="tab" data-target="#repository-branches"
                    href="javascript:void(0)">Branches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if ref.getRefType() == 'tag' %}active{% endif %}"
                    data-target="#repository-tags" data-toggle="tab"
                    href="javascript:void(0)">Tags</a>
                </li>
              </ul>
            </div>
            <div class="card-body p-0" style="min-width: 300px; max-height: 400px; overflow: auto;">
              <div class="tab-content">
                <div class="tab-pane {% if ref.getRefType() in ['branch', 'commit'] %}show active{% endif %}" id="repository-branches">
                  <div class="nav flex-column nav-pills">
                  {% for b in repository.getBranches() %}
                    <a class="nav-link rounded-0 text-nowrap {% if b.getName() == ref.getRef() %}active{% endif %}"
                      href="{{ group }}/{{ name }}/tree/{{ b.getName() }}">{{ b.getName() }}</a>
                  {% else %}
                    <div class="nav-link disabled">Nothing to show</div>
                  {% endfor %}
                  </div>
                </div>

                <div class="tab-pane {% if ref.getRefType() == 'tag' %}show active{% endif %}" id="repository-tags">
                  <div class="nav flex-column nav-pills">
                    {% for b in repository.getTags() %}
                      <a class="nav-link rounded-0 text-nowrap {% if b.getName() == ref.getRef() %}active{% endif %}"
                        href="{{ group }}/{{ name }}/tree/{{ b.getName() }}">{{ b.getName() }}</a>
                    {% else %}
                      <div class="nav-link disabled">Nothing to show</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-right">
      Clone URL: <input type="text" class="form-control d-inline-block w-auto" value="{{ repository.getCloneUrl() }}">
    </div>
  </div>

  <div>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        {% set latest = ref.getRefType() == 'commit' ? ref : ref.getHead() %}
        <tr>
          <td colspan="3" class="py-3">
            <div class="row">
              <div class="col">
                <strong>{{ latest.getAuthor() }}</strong>
                <a href="{{ group }}/{{ name }}/commit/{{ latest.getHash() }}">{{ latest.getMessage() }}</a>
              </div>
              <div class="col-auto text-right">
                Latest commit <a href="{{ group }}/{{ name }}/commit/{{ latest.getHash() }}">{{ latest.getAbbreviatedHash() }}</a>
                {{ latest.getInfo().committerDate | date('M d, Y') }}
              </div>
            </div>
          </td>
        </tr>
      {% if path != '' %}
        <tr>
          <td colspan="3" class="py-2">
            <a
              href="{{ group }}/{{ name }}/tree/{{ ref.getRef() }}{% if parentPath != '' %}:{{ parentPath }}{% endif %}"
            >..</a>
          </td>
        </tr>
      {% endif %}
      {% spaceless %}
      {% for node in ref.getTree().getNodes(path) %}
        <tr>
          <td class="py-2">
            <span class="octicon mr-1 text-secondary">
            {% if node.getType() == 'blob' %}{% include 'assets/octicons/file.svg' %}{% endif %}
            {% if node.getType() == 'tree' %}{% include 'assets/octicons/file-directory.svg' %}{% endif %}
            </span>
            <a href="{{ group }}/{{ name }}/{{ node.getType() }}/{{ ref.getRef() }}:{{ node.getPath() }}">{{ node.getName() }}</a>
          </td>
          <td class="py-2"><a style="display: inline-block; max-width: 300px;"
            title="{{ node.getCommit().getMessage() }}"
            class="text-nowrap text-truncate" href="{{ group }}/{{ name }}/commit/{{ node.getCommit().getHash() }}">{{ node.getCommit().getMessage() }}</a></td>
          <td class="py-2 text-nowrap text-right">{{ node.getCommit().getInfo().committerDate | date('M d, Y') }}</td>
        </tr>
      {% endfor %}
      {% endspaceless %}
      </tbody>
    </table>
  </div>

  <div class="card">
    {% set readmeFound = false %}
    {% for node in ref.getTree().getNodes() %}
      {% if not readmeFound %}
        {% if node.getName() | upper in ['README', 'README.TXT', 'README.MD', 'README.MARKDOWN'] %}
          <div class="card-header"><span class="octicon mr-1">{% include 'assets/octicons/book.svg' %}</span>{{ node.getName() }}</div>
          <div class="card-body"><markdown>{{ node.getData() }}</markdown></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}