{% extends 'layout/main.twig' %}

{% block title %}{{ group }}/{{ name }} - GitKit{% endblock %}

{% block content %}
  <h1><a href="{{ group }}/{{ name }}">{{ group }}/{{ name }}</a></h1>
  <div class="row my-3">
    <div class="col-auto">
      <div class="dropdown">
        <button class="form-control dropdown-toggle" data-toggle="dropdown" type="button">
          Branch: <strong>{{ branch.getName() }}</strong>
        </button>
        <div class="dropdown-menu">
        {% for b in repository.getBranches() %}
          <a class="dropdown-item {% if b.getName() == branch.getName() %}active{% endif %}"
            href="{{ group }}/{{ name }}/tree/{{ b.getName() }}">{{ b.getName() }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="col text-right">
      Clone URL: <input type="text" class="form-control d-inline-block w-auto" value="{{ repository.getCloneUrl() }}">
    </div>
  </div>
  <div>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr>
          {%  set latest = branch.getLatestCommit() %}
          <td colspan="3" class="py-3">
            <div class="row">
              <div class="col">
                <strong>{{ latest.getAuthor() }}</strong>
                <a href="{{ group }}/{{ name }}/commit/{{ latest.getHash() }}">{{ latest.getMessage() }}</a>
              </div>
              <div class="col-auto text-right">
                Latest commit <a href="{{ group }}/{{ name }}/commit/{{ latest.getHash() }}">{{ latest.getAbbrHash() }}</a>
                {{ commit.getInfo().committerDate | date('M d, Y') }}
              </div>
            </div>
          </td>
        </tr>
      {% if path != '' %}
        <tr>
          <td colspan="3" class="py-2">
            <a
              href="{{ group }}/{{ name }}/tree/{{ branch.getName() }}{% if parentPath != '' %}/{{ parentPath }}{% endif %}"
            >..</a>
          </td>
        </tr>
      {% endif %}
      {% spaceless %}
      {% for file in branch.getFiles(path) %}
        <tr>
          <td class="py-2">
            <span class="octicon mr-1 text-secondary">
            {% if file.type == 'blob' %}{% include 'assets/octicons/file.svg' %}{% endif %}
            {% if file.type == 'tree' %}{% include 'assets/octicons/file-directory.svg' %}{% endif %}
            </span>
            <a href="{{ group }}/{{ name }}/{{ file.type }}/{{ branch.getName() }}/{{ path }}/{{ file.path }}">{{ file.path }}</a>
          </td>
          <td class="py-2"><a style="display: inline-block; max-width: 300px;"
            title="{{ file.commit.getMessage() }}"
            class="text-nowrap text-truncate" href="{{ group }}/{{ name }}/commit/{{ file.commit.getHash() }}">{{ file.commit.getMessage() }}</a></td>
          <td class="py-2 text-nowrap text-right">{{ file.commit.getInfo().committerDate | date('M d, Y') }}</td>
        </tr>
      {% endfor %}
      {% endspaceless %}
      </tbody>
    </table>
  </div>
{% endblock %}