{% spaceless %}
  {% set fragments = path | split('/') %}
  {% if fragments | length > 0 %}
    <a href="{{ base }}{% if ref.name != repository.defaultBranch.name %}/tree/{{ ref.name }}{% endif %}">
      <strong>{{ repository.name | split('/') | last }}</strong>
    </a>
    <span class="mx-1">/</span>

    {% set last = fragments | last %}
    {% set fragments = fragments | reverse | slice(1) | reverse %}
    {% set current = [] %}
    {% for fragment in fragments %}
      {% set current = current | merge([fragment]) %}
      <a href="{{ base }}/tree/{{ ref.name }}:{{ current | join('/') }}">{{ fragment }}</a>
      <span class="mx-1">/</span>
    {% endfor %}
    <span>{{ last }}</span>
  {% endif %}
{% endspaceless %}
