{% spaceless %}
  <div class="dropdown" data-close-outside>
    <button class="form-control dropdown-toggle" data-toggle="dropdown" type="button">
      {{ {branch: 'Branch', 'tag': 'Tag', 'commit': 'Tree'}[ref.type] }}:
      <strong>{{ ref.type == 'commit' ? ref.abbreviatedHash : ref.name }}</strong>
    </button>
    <div class="dropdown-menu shadow p-0">
      <div class="card border-0">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs flex-nowrap">
            <li class="nav-item">
              <a class="nav-link {% if ref.type in ['branch', 'commit'] %}active{% endif %}"
                data-toggle="tab" data-target="#repository-branches"
                href="javascript:void(0)">Branches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if ref.type == 'tag' %}active{% endif %}"
                data-target="#repository-tags" data-toggle="tab"
                href="javascript:void(0)">Tags</a>
            </li>
          </ul>
        </div>
        <div class="card-body p-0" style="min-width: 400px; max-height: 350px; overflow: auto;">
          <div class="tab-content">
            <div class="tab-pane {% if ref.type in ['branch', 'commit'] %}show active{% endif %}" id="repository-branches">
              <div class="nav flex-column nav-pills">
                {% for b in branches %}
                  <a class="nav-link rounded-0 text-nowrap {% if b.name == ref.name %}active{% endif %}"
                    href="{{ base }}{% if b.name != defaultBranch.name %}/tree/{{ b.name }}{% endif %}">{{ b.name }}</a>
                {% else %}
                  <div class="nav-link disabled">Nothing to show</div>
                {% endfor %}
              </div>
            </div>

            <div class="tab-pane {% if ref.type == 'tag' %}show active{% endif %}" id="repository-tags">
              <div class="nav flex-column nav-pills">
                {% for b in tags %}
                  <a class="nav-link rounded-0 text-nowrap {% if b.name == ref.name %}active{% endif %}"
                    href="{{ base }}/tree/{{ b.name }}">{{ b.name }}</a>
                {% else %}
                  <div class="nav-link disabled">Nothing to show</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endspaceless %}
