{% set cloneUrls = repository.cloneUrls %}

{% if cloneUrls | length > 1 %}
<div>
  <div class="btn-group separator mb-2">
    {% for key, url in cloneUrls %}
      <button type="button" class="btn btn-light border"
        data-toggle="xtab" data-target="#repository-setup-{{ key }}">Use {{ key | upper }}</button>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="tab-content">
{% for key, url in cloneUrls %}
  <div vue-widget class="tab-pane {% if loop.first %}show active{% endif %}" id="repository-setup-{{ key }}">
    <div class="mb-3">
      <h5><strong>Quick setup:</strong></h5>
      <div class="bg-o-primary p-3 rounded">
        <div class="input-group mb-2">
          <span class="input-group-prepend">
            <span class="input-group-text bg-light">{{ key | upper }}</span>
          </span>
          <input type="text" class="form-control" id="resource-clone-url-{{ key }}" value="{{ url }}">
          <span class="input-group-append">
            <button class="btn form-control cursor-pointer" type="button"
              v-bs-clipboard data-clipboard-text="{{ url }}"
              v-bs-tooltip data-placement="bottom"
              title="Copy to clipboard" data-title-copied="Copied!"
            >{% include '/icon.twig' with { icon: 'clippy' } %}</button>
          </span>
        </div>
        <div>
          We recommend every repository include a
          <code class="bg-o-primary text-primary">README</code>,
          <code class="bg-o-primary text-primary">LICENSE</code>, and
          <code class="bg-o-primary text-primary">.gitignore</code>.
        </div>
      </div>
    </div>

    <div class="separator"><span class="separator-badge">OR</span></div>

    <div class="my-3">
      <h5><strong>Create a new repository on the command line:</strong></h5>
      <div class="bg-light p-3 rounded">
        <syntax-highlight language="bash" v-bind:detect="false" v-bind:gutter="false">{% pre %}
          echo '# test' > 'README.md'
          git init
          git add 'README.md'
          git commit -m 'Initial commit'
          git remote add origin '{{ url }}'
          git push --set-upstream origin master
        {% endpre %}</syntax-highlight>
      </div>
    </div>

    <div class="separator"><span class="separator-badge">OR</span></div>

    <div class="mt-3">
      <h5><strong>Push an existing repository from the command line:</strong></h5>
      <div class="bg-light p-3 rounded">
        <syntax-highlight language="bash" v-bind:detect="false" v-bind:gutter="false">{% pre %}
          git remote add origin '{{ url }}'
          git push --set-upstream origin master
        {% endpre %}</syntax-highlight>
      </div>
    </div>
  </div>
{% else %}
  <div class="tab-pane show active">
    <div class="bg-o-primary p-3 rounded">
      <h5><strong>Oops...</strong></h5>
      <div>
        Seems that GitKit is missing some options needed to create clone URLs.
        Go to the <a href="settings/system">settings page</a> and check
        <code class="bg-o-primary text-primary">SSH host</code> and
        <code class="bg-o-primary text-primary">HTTP host</code> options.
      </div>
    </div>
  </div>
{% endfor %}
</div>
