{% spaceless %}
<div class="d-flex align-items-center justify-content-between">
  <div class="">
    <span class="mr-2">{{ blob.lines.total }} lines ({{ blob.lines.nonEmpty }} sloc)</span>
    <span title="{{ blob.size }} byte(s)">{{ blob.size | format_bytes }}</span>
  </div>
  <div>
    <a href="{{ base }}/{{ blob.type }}/{{ ref.name }}:{{ blob.path }}?raw" class="btn form-control no-hover d-inline-block w-auto">Raw</a>
  </div>
</div>
{% endspaceless %}
