{% extends '/layouts/default/main.twig' %}

{% block title %}{{ repository.name }} - GitKit{% endblock %}

{% block content %}
  <h1>{% include '../repository-header.twig' with {repository: repository} %}</h1>

  {% set rawUrl = repository.name ~ '/' ~ blob.type ~ '/' ~ ref.name ~ ':' ~ blob.path ~ '?raw' %}

  <div class="row my-3">
    <div class="col-auto">
      {% include '../ref-selector.twig' with {
        ref: ref,
        branches: repository.branches,
        tags: repository.tags,
        base: repository.name,
        prefix: '/blob/',
        suffix: ':' ~ blob.path,
      } %}
    </div>
    <div class="col d-flex align-items-center p-0 text-larger">
      {% include '../path-breadcrumbs.twig' with {
        path: blob.path,
        is_tree: false,
        repository: repository,
        ref: ref,
        base: repository.name,
      } %}
    </div>
    <div vue-widget class="col-auto">
      <button class="btn form-control" type="button"
        v-bs-clipboard data-clipboard-text="{{ blob.path }}"
        v-bs-tooltip data-placement="bottom"
        title="Copy file path to clipboard" data-title-copied="Copied!"
      >Copy path</button>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header border-0 p-0">
      {% include '../latest-commit.twig' with {
        commit: blob.commit,
        base: repository.name
      } %}
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      {% include 'blob-info.twig' with {
        blob: blob,
        ref: ref,
        base: repository.name,
      } %}
    </div>
    <div vue-widget class="card-body scrollbox p-0">
      {% if blob.info.size <= 2 * 1024 * 1024 %}
        {% if blob.matchesMime('text/markdown', 'text/x-markdown') or blob.matchesGlob('README', 'README.*') %}
          <markdown class="p-3"><template v-pre>{{ blob.data }}</template></markdown>
        {% elseif blob.matchesGlob('LICEN[CS]E', 'LICEN[CS]E.*') %}
          <div class="text-block text-monospace p-0">{{ blob.data }}</div>
        {% elseif blob.matchesMime('text/*') %}
          <syntax-highlight language="{{ blob.ext | lower }}" v-bind:detect="true"
            selection="multiline" v-bind:gutter="true">
            <template v-pre>{{ blob.data }}</template>
          </syntax-highlight>
        {% elseif blob.matchesMime('image/*') %}
          <div class="text-center">
            <img src="{{ rawUrl }}" alt="{{ blob.name }}">
          </div>
        {% else %}
          <div class="p-5 text-center">
            Cannot show file preview. <a href="{{ rawUrl }}">View raw</a>
          </div>
        {% endif %}
      {% else %}
        <div class="p-5 text-center">
          This file is too large to be displayed. <a href="{{ rawUrl }}">View raw</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
